# they are good at what they do

In [2]:
x = 1
y = 5

In [7]:
print (x and y)
1+5=

SyntaxError: cannot assign to operator (3927071043.py, line 2)

In [8]:
import pandas as pd
import numpy as np

In [18]:
import mysql.connector

In [16]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\user\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)
Note: you may need to restart the kernel to use updated packages.

# step require to connect to mysql

In [20]:
import pandas as pd
import numpy as np
import mysql.connector as mc

# step1 to connect to database server

In [24]:
connection = mc. connect(user="root",host="localhost",password="123456789")

# step2: To get access

In [ ]:
cur = connection 
mysql__query1